# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
SearchImageApp/Pods/Manifest.lock
SearchImageApp/Pods/AFNetworking/LICENSE
SearchImageApp/Pods/AFNetworking/README.md
SearchImageApp/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.h
SearchImageApp/Pods/AFNetworking/AFNetworking/AFHTTPSessionManager.m
SearchImageApp/Pods/AFNetworking/AFNetworking/AFNetworking.h
SearchImageApp/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.h
SearchImageApp/Pods/AFNetworking/AFNetworking/AFNetworkReachabilityManager.m
SearchImageApp/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.h
SearchImageApp/Pods/AFNetworking/AFNetworking/AFSecurityPolicy.m
SearchImageApp/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.h
SearchImageApp/Pods/AFNetworking/AFNetworking/AFURLRequestSerialization.m
SearchImageApp/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.h
SearchImageApp/Pods/AFNetworking/AFNetworking/AFURLResponseSerialization.m
SearchImageApp/Pods/AFNetworking/AFNetworking/AFURLSessionManager.h
SearchImageApp/Pods/AFNetworking/AFNetworking/AFURLSessionManager.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/AFAutoPurgingImageCache.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/AFImageDownloader.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/AFNetworkActivityIndicatorManager.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIActivityIndicatorView+AFNetworking.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIButton+AFNetworking.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIImage+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIImageView+AFNetworking.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIKit+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIProgressView+AFNetworking.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIRefreshControl+AFNetworking.m
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.h
SearchImageApp/Pods/AFNetworking/UIKit+AFNetworking/UIWebView+AFNetworking.m
SearchImageApp/Pods/Headers/Private/AFNetworking/AFAutoPurgingImageCache.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFHTTPSessionManager.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFImageDownloader.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFNetworkActivityIndicatorManager.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFNetworkReachabilityManager.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFSecurityPolicy.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFURLRequestSerialization.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFURLResponseSerialization.h
SearchImageApp/Pods/Headers/Private/AFNetworking/AFURLSessionManager.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIActivityIndicatorView+AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIButton+AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIImage+AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIImageView+AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIKit+AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIProgressView+AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIRefreshControl+AFNetworking.h
SearchImageApp/Pods/Headers/Private/AFNetworking/UIWebView+AFNetworking.h
SearchImageApp/Pods/Headers/Private/MBProgressHUD/MBProgressHUD.h
SearchImageApp/Pods/Headers/Private/SDWebImage/NSData+ImageContentType.h
SearchImageApp/Pods/Headers/Private/SDWebImage/NSImage+WebCache.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDImageCache.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDImageCacheConfig.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDWebImageCompat.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDWebImageDecoder.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDWebImageDownloader.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDWebImageDownloaderOperation.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDWebImageManager.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDWebImageOperation.h
SearchImageApp/Pods/Headers/Private/SDWebImage/SDWebImagePrefetcher.h
SearchImageApp/Pods/Headers/Private/SDWebImage/UIButton+WebCache.h
SearchImageApp/Pods/Headers/Private/SDWebImage/UIImage+GIF.h
SearchImageApp/Pods/Headers/Private/SDWebImage/UIImage+MultiFormat.h
SearchImageApp/Pods/Headers/Private/SDWebImage/UIImageView+HighlightedWebCache.h
SearchImageApp/Pods/Headers/Private/SDWebImage/UIImageView+WebCache.h
SearchImageApp/Pods/Headers/Private/SDWebImage/UIView+WebCache.h
SearchImageApp/Pods/Headers/Private/SDWebImage/UIView+WebCacheOperation.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFAutoPurgingImageCache.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFHTTPSessionManager.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFImageDownloader.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFNetworkActivityIndicatorManager.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFNetworkReachabilityManager.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFSecurityPolicy.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFURLRequestSerialization.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFURLResponseSerialization.h
SearchImageApp/Pods/Headers/Public/AFNetworking/AFURLSessionManager.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIActivityIndicatorView+AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIButton+AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIImage+AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIImageView+AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIKit+AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIProgressView+AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIRefreshControl+AFNetworking.h
SearchImageApp/Pods/Headers/Public/AFNetworking/UIWebView+AFNetworking.h
SearchImageApp/Pods/Headers/Public/MBProgressHUD/MBProgressHUD.h
SearchImageApp/Pods/Headers/Public/SDWebImage/NSData+ImageContentType.h
SearchImageApp/Pods/Headers/Public/SDWebImage/NSImage+WebCache.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDImageCache.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDImageCacheConfig.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDWebImageCompat.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDWebImageDecoder.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDWebImageDownloader.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDWebImageDownloaderOperation.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDWebImageManager.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDWebImageOperation.h
SearchImageApp/Pods/Headers/Public/SDWebImage/SDWebImagePrefetcher.h
SearchImageApp/Pods/Headers/Public/SDWebImage/UIButton+WebCache.h
SearchImageApp/Pods/Headers/Public/SDWebImage/UIImage+GIF.h
SearchImageApp/Pods/Headers/Public/SDWebImage/UIImage+MultiFormat.h
SearchImageApp/Pods/Headers/Public/SDWebImage/UIImageView+HighlightedWebCache.h
SearchImageApp/Pods/Headers/Public/SDWebImage/UIImageView+WebCache.h
SearchImageApp/Pods/Headers/Public/SDWebImage/UIView+WebCache.h
SearchImageApp/Pods/Headers/Public/SDWebImage/UIView+WebCacheOperation.h
SearchImageApp/Pods/MBProgressHUD/LICENSE
SearchImageApp/Pods/MBProgressHUD/MBProgressHUD.h
SearchImageApp/Pods/MBProgressHUD/MBProgressHUD.m
SearchImageApp/Pods/MBProgressHUD/README.mdown
SearchImageApp/Pods/Pods.xcodeproj/project.pbxproj
SearchImageApp/Pods/SDWebImage/LICENSE
SearchImageApp/Pods/SDWebImage/README.md
SearchImageApp/Pods/SDWebImage/SDWebImage/NSData+ImageContentType.h
SearchImageApp/Pods/SDWebImage/SDWebImage/NSData+ImageContentType.m
SearchImageApp/Pods/SDWebImage/SDWebImage/NSImage+WebCache.h
SearchImageApp/Pods/SDWebImage/SDWebImage/NSImage+WebCache.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDImageCache.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDImageCache.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDImageCacheConfig.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDImageCacheConfig.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageCompat.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageCompat.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageDecoder.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageDecoder.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageDownloader.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageDownloader.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageManager.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageManager.m
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImageOperation.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.h
SearchImageApp/Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.m
SearchImageApp/Pods/SDWebImage/SDWebImage/UIButton+WebCache.h
SearchImageApp/Pods/SDWebImage/SDWebImage/UIButton+WebCache.m
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImage+GIF.h
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImage+GIF.m
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.h
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.m
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.h
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.m
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImageView+WebCache.h
SearchImageApp/Pods/SDWebImage/SDWebImage/UIImageView+WebCache.m
SearchImageApp/Pods/SDWebImage/SDWebImage/UIView+WebCache.h
SearchImageApp/Pods/SDWebImage/SDWebImage/UIView+WebCache.m
SearchImageApp/Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.h
SearchImageApp/Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.m
SearchImageApp/Pods/Target Support Files/AFNetworking/AFNetworking-dummy.m
SearchImageApp/Pods/Target Support Files/AFNetworking/AFNetworking-prefix.pch
SearchImageApp/Pods/Target Support Files/AFNetworking/AFNetworking.xcconfig
SearchImageApp/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-dummy.m
SearchImageApp/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-prefix.pch
SearchImageApp/Pods/Target Support Files/MBProgressHUD/MBProgressHUD.xcconfig
SearchImageApp/Pods/Target Support Files/Pods-SearchImageApp/Pods-SearchImageApp-acknowledgements.markdown
SearchImageApp/Pods/Target Support Files/Pods-SearchImageApp/Pods-SearchImageApp-acknowledgements.plist
SearchImageApp/Pods/Target Support Files/Pods-SearchImageApp/Pods-SearchImageApp-dummy.m
SearchImageApp/Pods/Target Support Files/Pods-SearchImageApp/Pods-SearchImageApp-frameworks.sh
SearchImageApp/Pods/Target Support Files/Pods-SearchImageApp/Pods-SearchImageApp-resources.sh
SearchImageApp/Pods/Target Support Files/Pods-SearchImageApp/Pods-SearchImageApp.debug.xcconfig
SearchImageApp/Pods/Target Support Files/Pods-SearchImageApp/Pods-SearchImageApp.release.xcconfig
SearchImageApp/Pods/Target Support Files/SDWebImage/SDWebImage-dummy.m
SearchImageApp/Pods/Target Support Files/SDWebImage/SDWebImage-prefix.pch
SearchImageApp/Pods/Target Support Files/SDWebImage/SDWebImage.xcconfig
SearchImageApp/Pods/Headers/Private/JSONModel/JSONAPI.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONHTTPClient.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONKeyMapper.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONModel+networking.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONModel.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONModelClassProperty.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONModelError.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONModelLib.h
SearchImageApp/Pods/Headers/Private/JSONModel/JSONValueTransformer.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONAPI.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONHTTPClient.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONKeyMapper.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONModel+networking.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONModel.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONModelClassProperty.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONModelError.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONModelLib.h
SearchImageApp/Pods/Headers/Public/JSONModel/JSONValueTransformer.h
SearchImageApp/Pods/JSONModel/LICENSE
SearchImageApp/Pods/JSONModel/README.md
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelLib.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModel/JSONModel.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModel/JSONModel.m
SearchImageApp/Pods/JSONModel/JSONModel/JSONModel/JSONModelClassProperty.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModel/JSONModelClassProperty.m
SearchImageApp/Pods/JSONModel/JSONModel/JSONModel/JSONModelError.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModel/JSONModelError.m
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONAPI.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONAPI.m
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONHTTPClient.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONHTTPClient.m
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONModel+networking.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelNetworking/JSONModel+networking.m
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONKeyMapper.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONKeyMapper.m
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONValueTransformer.h
SearchImageApp/Pods/JSONModel/JSONModel/JSONModelTransformations/JSONValueTransformer.m
SearchImageApp/Pods/Target Support Files/JSONModel/JSONModel-dummy.m
